<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.az.cordova.plugin.shabatalarms" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ShabatAlarms</name>
    <js-module name="ShabatAlarms" src="www/ShabatAlarms.js">
        <clobbers target="cordova.plugins.ShabatAlarms" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ShabatAlarms">
                <param name="android-package" value="com.az.cordova.plugin.shabatalarms.ShabatAlarms" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">

        </config-file>
        <source-file src="src/android/ShabatAlarms.java" target-dir="src/com/az/cordova/plugin/shabatalarms/ShabatAlarms" />
    </platform>
</plugin>
